<section id="profile-section">
    <h1>Profile</h1>
    <p>
        This is all the application has saved about you. When you joined, some of these fields get filled in by Oauth
        provider. If you want to change any of them you can do so below. Just know that changing them here won't change
        them with your Oauth provider.
    </p>    
    <form hx-post="/api/v1/user/by-id/<%= user.id %>" hx-target="#update-results" hx-trigger="submit">
        <h2>Your information</h2>
        <div class="form-group">
            <label for="customer-name">Name:</label>
            <input type="text" id="customer-name" name="name" value="<%= user.name %>" style="width:fit-content;" required>
        </div>
        <div class="form-group">
            <label for="customer-phone-number">phone number:</label>
            <input type="text" id="customer-phone-number" name="phone" value="<%= user.phone %>" style="width:fit-content;" required>
        </div>
        <div class="form-group">
            <label for="customer-email">email:</label>
            <input type="text" id="customer-email" name="email" value="<%= user.email %>" style="width:fit-content;" required>
        </div>
        <div class="form-group">
            <label for="customer-street1">Street 1:</label>
            <input type="text" id="customer-street1" name="street1" value="<%= user.street1 %>" style="width:fit-content;" required>
        </div>
        <div class="form-group">
            <label for="customer-street2">Street 2:</label>
            <input type="text" id="customer-street2" name="street2" value="<%= user.street2 %>" style="width:fit-content;">
        </div>
        <div class="form-group">
            <label for="customer-city">city:</label>
            <input type="text" id="customer-city" name="city" value="<%= user.city %>" style="width:fit-content;" required>
        </div>
        <div class="form-group">
            <label for="customer-zip">zip code:</label>
            <input type="text" id="customer-zip" name="zip" value="<%= user.zip %>" style="width:fit-content;" required>
        </div>
        <div class="form-group">
            <label for="customer-country">country code:</label>
            <input type="text" id="customer-country" name="country" value="<%= user.country %>" style="width:fit-content;" required>
        </div>
        <div class="form-group">
            <button type="submit">Update profile</button>
        </div>
        <p style="font-weight:bold;" id="update-results"></p>
    </form>
</section>